
<div id="tag">
<h1><%=page.tag%></h1>

<p><%=page.tag%>:<%=page.current%>ページ</p>

<p>tags.ejs</p>

<% page.posts.each(article => { %>
<div class="tag-item">
<time datetime="<%=date_xml(article.date)%>">
<%=date(article.date)%>
</time>
<a href="<%=url_for(article.path)%>">
<%=article.title%>
</a>
</div><!-- /.tag-item -->
<% }) %>
</div><!-- #tag -->

<div id="paginator">
<%-paginator()%>
</div><!-- #paginator -->

